@media (max-width: 900px) {    
  
    #main-text-wrapper > p {
        box-sizing: border-box;
    }
  
    #steps-section {
        width: 100%;
        flex-direction: column;
    }
    
    .step-item {
        width: 100%;
    }
  
    #store-section {
        padding: 16px;
        box-sizing: border-box;
    }
  
    #storee-section h3 {
        font-size: 28px;
    }
  
    #store-items-wrapper {
        flex-direction: column;
        text-align: center;
    }
  
    .store-item {
        width: 100%;
        box-sizing: border-box;
    }
  
    #testimonials-section {
        padding: 16px;
        box-sizing: border-box;
    }
  
    #testimonials-section > h3 {
       font-size: 28px; 
    }
  
    #testimonials-wrapper {
        flex-direction: column;
    }
  
    .testimonial-item {
        width: 100%;
        box-sizing: border-box;
    }
  
    .testimonial-by {
        font-size: important 18px;
    }
  
    #follow-section {
        flex-direction: column;
    }
    
    #right-section #text-wrapper {
        margin: 16px;
    }
  
    #right-section #text-wrapper h3 {
        font-size: 28px;
    }
  
    #left-section {
        width: 100%;
    }
  
    #right-section {
        width: 100%;
    }
  
    #stats-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    #stats-item {
        width: 100%;
    }
  
    #address-wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 16px;
        padding-top: 0;
        box-sizing: border-box;
    }
  
    #address-wrapper > div {
        width: 100%;
    }
  
    #address-wrapper > div:last-of-type {
        width: 100%;
    }
  
  }

  @media (min-width: 800px) {
    #main-text-wrapper > h1 {
        margin-top: -15%;
        font-size: 28px;
    }
    header {
        height: 70vh;
        text-shadow:  2px 1px 2px rgb(102, 85, 40);
    }
    #firstP {
        margin-top: -1%;
        text-shadow:  2px 1px 2px rgb(102, 85, 40);
      }
    .nav__icon-menu {
        display: none;
    }
    .nav__links{
        position: static;
        background-color: transparent;
        width: 90%;
        height: 60%;
        margin-top: 7%;
        /* margin-top: 0; */
        padding-top: 0; 
        flex-direction: row;
        transition: none;
      }
      .nav__link a {
        text-decoration: none;
        margin-left: 40px;
        padding: 10px;
        border-radius: 10px;
        box-shadow:
    inset 5px 5px 6px #acacac,
    inset -5px -5px 6px rgb(83, 47, 96);
        background-image: linear-gradient(to bottom,  #e2f0b9, #ffe2bc, #f3b9c3);
      }

    .step-item, .step-item2{ 
      width: 400px;
    }
    .types {
      position: absolute;
      height: 520px;
      width: 400px;
      margin-top: 5%;
      margin-left: -55%;
    }
    .closeX {
      z-index: 1;
    }
    .infoText {
      margin-top: -5%;
      padding: 70px;
    }
    .section-heading {
      width: 1000px;
    }
    .address-lines {
      width: 1000px;
    }

  }



  .icon-wrapper img {
    height: 75px;
    width: 75px;
  }
